{% extends 'base.html.twig' %}

{% block title  'Profile' %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto text-center">
			<h1 class="my-5 ">Profile</h1>
			<img
			src="{{app.user.getGravatarUrl}}" alt="{{app.user.fullName}}'s Avatar" class="rounded-circle shadow">
			<!--$grav_url = "https://www.gravatar.com/avatar/" . md5( strtolower( trim( $email ) ) ) . "?d=" . urlencode( $default ) . "&s=" . $size;-->
			<p class="mt-5 lead">{{app.user.email}}</p>
			<p>
				<small>🕛 Account created on:

					{{ app.user.createdAt|date('d-M-Y')}}</small>
			</p>
			<h2>{{app.user.fullName}}</h2>
			<a href="{{ path('account_edit')}}">Edit Account</a>
			|

			<a href="{{path('account_change_password')}}">Change Password</a>

		</div>
	</div>
{% endblock %}
