{% extends 'base.html.twig' %}

{% block title %}Create Pin!{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <h1>Create a new pin</h1>
        {{ include ('pins/_form.html.twig', {'submitButtonText': 'Create Pin'}) }}
    </div>
</div>
{% endblock %}
