{% extends 'base.html.twig' %}

{% block title %}Hello PinsController!
{% endblock %}

{% block body %}
	<!-- <style>
									    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
									    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
									</style>-->
	{% set pin_count = pins|length %}
	<div class="example-wrapper">

		{% if (pin_count >0) %}
			<h1 class="mb-4 text-center text-muted">
				{{ pluralize (pin_count, 'Pin') }}
				All Pins! ✅</h1>

			<p class="mb-5">Il y a
				{{ pluralize (pin_count, 'Pin') }}
				dans la base |
				<a href="{{ path('app_pins_create') }}">
					Create a pin
				</a>
			</p>


			{% for  row in pins|batch(3) %}
				<div class="row mb-5">
					{% for  pin in row %}
						<div class="col-md-4">
							<article class="pin bg-white rounded shadow">
								<div class="mw-100 overflow-hidden rounded-top">
									<a href="{{ path('app_pins_show', { 'id' : pin.id } ) }}">
										<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium')}}" alt="{{ pin.title }}" class="w-100 "/>
									</a>
								</div>
								<h2 class="h5 pl-3 pt-3">
									<a class="text-secondary text-decoration-none" href="{{ path('app_pins_show', { 'id' : pin.id } ) }}">
										{{ pin.title }}
									</a>
								</h2>
								<p class="pl-3 pb-3 text-muted">
									<small>
										Submitted by
										{{ pin.user.fullName }}
										{{ pin.createdAt|ago  }}</small>
								</p>
								<!--date("d/M/Y")-->
								{# <a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-pin-delete-form-{{ pin.id }}').submit()" class="m-3 btn btn-warning">&times; Delete?</a>
																<form id="js-pin-delete-form-{{ pin.id }}" action="{{ path('app_pins_delete', { 'id' : pin.id } ) }}" method="post" style="display:none">
																	<input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id ) }}">
																	<input type="hidden" name="_method" value="DELETE">
																</form> #}
							</article>
						</div>
					{% else %}
						<p>
							Sorry, no pin yet!
							<a href="{{ path('app_pins_create') }}">Be The first
							</a>
						</p>
					{% endfor %}

				</div>
			{% endfor %}
		{% else %}
			<p class="mt-5 h1 text-center ">
				Sorry, no pin yet!
				<a href="{{ path('app_pins_create') }}">Be The first
				</a>
			</p>
		{% endif %}
	{% endblock %}
