{% extends 'base.html.twig' %}

{% block title %}
	{{ pin.title }}!
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
				<div class="mw-100 overflow-hidden rounded-top">
					<img src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('build/images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium')}}" alt="{{ pin.title }}" class="w-100 "/>
				</div>
				<div class="p-3">
					<h1 class="h5 text-secondary">
						{{ pin.title }}
					</h1>
					<p class="text-muted">
						<small>
							<time datetime="{{ pin.createdAt|date("d/M/Y H:i:s") }}">Submitted
								{{ pin.createdAt|ago  }}
							</time>
							by  [{{ pin.user.fullName }}
							] -
							<a href="{{ vich_uploader_asset(pin) }}">
								Télécharger?</a>
						</small>
					</p>
					<!--date("d/M/Y")-->
					<p class="pt-3 text-break">{{ pin.description }}</p>
					{% if (is_granted('PIN_MANAGE',pin)) %}
						<div class="pt-3">
							<p>
								<a href="{{ path('app_pins_edit', { 'id' : pin.id } ) }}" class="btn btn-light">
									Edit</a>
								<a href="#" onclick="event.preventDefault(); confirm ('Are you sure??') && document.getElementById('js-pin-delete-form').submit()" class="btn btn-light">
									Delete</a>
							</p>
							<form id="js-pin-delete-form" action="{{ path('app_pins_delete', { 'id' : pin.id } ) }}" method="post" style="display:none">
								<input type="hidden" name="csrf_token" value="{{ csrf_token('pin_deletion_' ~ pin.id ) }}">
								<input type="hidden" name="_method" value="DELETE">
							</form>
						</div>
					{% endif %}
				</div>
			</article>


		</div>
	</div>


{% endblock %}
