<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
	<div class="container">
		<a class="navbar-brand" href="{{ path ('app_home') }}">Panterest</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarsExample03">
			<ul class="navbar-nav ml-auto">
				{% if app.user %}
					<li class="nav-item ">
						<a class="nav-link" href="{{ path ('app_pins_create') }}">New Pin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path ('app_account') }}">Account</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="{{ logout_path('main') }}">Logout</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}">Register</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="{{ path('app_login') }}">Login</a>
					</li>
				{% endif %}
			</ul>
			<!--
																																	    <form class="form-inline my-2 my-md-0">
																																	      <input class="form-control" type="text" placeholder="Search">
																																	    </form>-->
		</div>
	</div>
</nav>
