<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Panterest!
			{% endblock %}
		</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

		{% endblock %}

	</head>
	<body>

		{{ include ('layout/partials/_flash_messages.html.twig' )}}
		{{ include ('layout/partials/_nav.html.twig' )}}
		<main role="main" class="container"> {% block body %}{% endblock %}
			</main>
			{{ include ('layout/partials/_footer.html.twig' )}}

			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
			{{ include ('bundles/MercurySeriesFlashyBundle/flashy.html.twig') }}

		</body>
	</html>
